amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
Django
django-celery-beat
django-celery-results
django-debug-toolbar
django-htmx
django-redis
django-timezone-field
forex-python
gunicorn
idna
kombu
Pillow
prompt-toolkit
psycopg2-binary==2.8.5
python-crontab
python-dateutil
python-dotenv
pytz
redis
requests
simplejson
six
sqlparse
urllib3
vine
wcwidth
whitenoise
